.wrapper {
    @include center-flex ('sb');
    flex-wrap: wrap;

    &__container {
        width: 380px;
        margin-right: -78px;
    }

    &__lvl-5 {
        @extend %montserrat400;
        font-size: 14px;
    }

    &__text {
        @extend %roboto;
        color: $sub-shade-of-gray-color;
    }
}