

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .bg {
        background: linear-gradient(to bottom,
      rgba(243, 129, 129, 0.9), 
      rgba(252, 227, 138, 0.9)),
      url(/img/bg/Layer15@2x.png);
      background-size: cover;
      background-position: center;
    }
    .card__photo--one {
      background: url(img/team/Layer\ 16@2x-min.png);
    }
    .card__photo--two {
      background: url(img/team/Layer\ 19@2x-min.png);
    }
    .card__photo--three {
      background: url(img/team/Layer\ 18@2x-min.png);
    }
}