$primary-white-color : #ffffff;

$primary-gold-color:rgb(252, 227, 138);

$primary-peach-color: rgb(243, 129, 129);

$primary-turquoise-color: rgb(149, 225, 211);


$sub-gray-color: rgb(204, 204, 204);

$sub-shade-of-gray-color: rgb(159, 159, 159);

$sub-tittle-red: red;

