.nav {
    @include center-flex ('sb');
    width: 620px;

    &__item {
        list-style: none;
        font-size: 14px;
        text-transform: uppercase;
        
    }
    
    &__item:hover::after {
        @extend %montserrat400;
        content: "";
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 3px;
        background: $primary-gold-color;
        
    }

    &__link {
        @include center-flex ('all');
        text-decoration: none;
        color: $primary-white-color;
        margin-bottom: 12px;

        &:hover {
        color: $primary-gold-color;
        }
    }

    &__svg {
        width: 20px;
        height: 20px;
        fill: $primary-white-color;
        
        &:hover {
        fill: $primary-white-color;
        }
    }
}
